@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {

  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  a {
    all: unset;
    }

  body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
  }

  picture {
    position: absolute;
  }

  picture > img {
    height: 56rem;
    width: auto;
  }

  main {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url(../fylo-data-storage-component/images/bg-mobile.png);
    background-size: cover;
  }

  .box-1 {
    background-color: hsl(228, 56%, 26%);
    padding: 40px 100px 50px 50px;
    border-radius: 10px 100px 10px 10px;
  }

  .icons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
  }

  .icons > img {
    border-radius: 10px;
    border: hsl(229, 57%, 11%) 14px solid;

  }

  .box2 {
    margin-top: 20px;
    border-radius: 10px;
    background-color: hsl(228, 56%, 26%);
    padding: 15px 0px 0px 0px;
    text-align: center;
    color: white;
    height: 199px;
    color: hsl(243, 100%, 93%);
  }

  .progress-bar {
    max-width: 600px;
    height: 20px;
    background: linear-gradient(90deg, hsl(6, 100%, 80%) 20%, hsl(335, 100%, 65%) 70%, hsl(229, 57%, 11%) 30%);
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  span {
    padding: 10px 40px 0px 40px;
  }

  .fgb {
    float: left;
    font-weight: 700;
  }

  .sgb {
    float: right;
    font-weight: 700;
  }

  .box3 {
    background-color: white;
    width: 200px;
    height: 80px;
    margin: 60px auto auto auto;
    border-radius: 10px;
    color: black;
  }

  .box3 > span {
    padding: 0;
  }

  .b3-bigtxt {
    font-size: 3rem;
    font-weight: 700;
  }

  .b3-smalltxt {
  }

  @media only screen and (min-width: 702px) {
    body {
      background-color: hsl(229, 57%, 11%);
    }

    picture {
      bottom: 0px;
    }

    picture > img {
      width: 120rem;
      height: 30rem;
    }

    main {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 20px;
      background-image: url(images/bg-desktop.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom center;
      background-attachment: fixed;
    }

    .box-1 {
      max-height: 250px;
    }
  
    .box2 {
      text-align: initial;
      height: initial;
      margin-top: 40px;
      height: 170px;
      padding: 20px 10px 10px 10px;
      max-width: 40rem;
    }

    .progress-bar {
      max-width: 550px;
    }

    .sgb {
      padding: 10px 50px 0px 30px;
    }

    .box3 {
      margin: -140px 400px;
      text-align: center;
    }

    .box2 > p {
      margin-left: 30px;
    }

  }